{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "always",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-svelte"]
}
